body {
    overflow: hidden;
}
#chats {
    background-color: #1D1B20;
    height: 400px;
    width: 350px;
    transform: translate(0px,50px);
    border-style: solid;
    border-width: 1px;
    border-right-color: #FFC300;
    border-bottom-color: #FFC300;

}

#pesquisar2 {
    transform: translate(-420px,0px);
    margin-left: 430px;
    width: 320px;
    margin-top: 6px;
    border-radius: 20px;
    height: 30px;
    background-color:rgb(21, 20, 24) ;
    border: white solid 2px;
}

.lupa {
    color: white;
    transform: translate(-139px,0px);
}


.textA1{
    display: inline-block;
    background-color: #2d2a31;
    color: white;
    border-radius: 20px;
    border-style: none;
    transform: translateX(210px);
    padding-left: 7px;
    padding-right: 7px;
    width: 120px;
    height: 30px;
}

.ChatProf {
    transform: translate(10px,10px);
    width: 60px;
    height: 20px;
    font-size: 9px;
}

.ChatAmigo {
    transform: translate(10px,10px);
    width: 60px;
    height: 20px;
    font-size: 9px;
}

.ChatTodos {
    transform: translate(10px,10px);
    width: 60px;
    height: 20px;
    font-size: 9px;

}

.ChatFavoritos {
    transform: translate(10px,10px);
    width: 60px;
    height: 20px;
    font-size: 9px;


}

.ChatGrupos {
    transform: translate(10px,10px);
    width: 60px;
    height: 20px;
    font-size: 9px;


}

.botao {
    transform: translate(-115px,120px);
    width: 60px;
    height: 60px;
    border: #FFC300 solid 1px;

}

.perfil {
    transform: translate(60px,-5px);
    margin-left: 10px;
    color: white;
}

.mensagem {
    transform: translate(60px,-20px);
    margin-left: 10px;
    color: #413f44;
}

.hora {
    color: white;
    transform: translate(300px,-85px);
}

#novogrupocontato {
    background-color: #1D1B20;
    width: 350px;
    height: 330px;
    border-style: solid;
    border-width: 1px;
    border-right-color: white;
    border-top-color: white;
    transform: translate(0px,10px);
}

.addpessoa {
    width: 50px;
    height: 50px;
    transform: translate(10px,10px);

}

.addpessoa2 {
    width: 50px;
    height: 50px;
    transform: translate(10px,-30px);

}

.novocontato {
    color: white;
    transform: translate(70px,-50px);
}

.novocontato2 {
    color: white;
    transform: translate(70px,-90px);
}


#chat {
    background-color: #1D1B20;
    width: 1100px;
    height: 1000px;
    transform: translate(350px,-690px);
    border-style: solid;
    border-width: 1px;
    border-left-color: white;
    border-top-color: white;

}

#contato {
    background-color: #1D1B20;
    width: 1100px;
    height: 100px;
    transform: translate(350px,-685px);
    border-style: solid;
    border-width: 1px;
    border-bottom-color: white;
    border-color: white;
}

.pessoachat {
    transform: translate(20px,15px);
    width: 50px;
    height: 50px;
    
}

.perfilcontato {
    color: white;
    transform: translate(75px,-55px);
}


.mensagemcontato {
    color: white;
    transform: translate(75px,-70px);

}

.chamar {
    transform: translate(830px,-150px);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: white;
}


.video {
    transform: translate(850px,-150px);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: white;
}


.maisopcoes {
    transform: translate(870px,-150px);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: white;
}

.conversar {
    transform: translate(-300px,545px);
    margin-left: 430px;
    width: 880px;
    margin-top: 6px;
    border-radius: 20px;
    height: 35px;
    background-color:rgb(21, 20, 24) ;
    border: white solid 2px;
    background-color: transparent;
}

.anexar {
    transform: translate(70px,480px);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: white;

}

.emoji {
    transform: translate(-45px,480px);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: white;

}

.mic {
    transform: translate(915px,480px);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: white;

}

.letrabarra {
    color: white;
    float: left;
    transform: translate(5px,-12px);
    opacity: 50%;
}

.pessoa {
    transform: translate(10px,60px);
    width: 50px;
    height: 50px;

}

.ii {
    width: 50px;
    height: 50px;
    margin-top: 25px;
}




section{
    overflow-y: scroll;
}


.msgPlr_1 h2{
    font-family: Inter;
    font-size: 1.4em;
    font-weight: 400;

    background-color: #EE8236;

    float: right;
    margin-left: 100%;
    margin-top: 2px;
    margin-right: 22px;

    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;

    height: auto;
    width: auto;

    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 1px;

    white-space: pre-wrap;  
    color: antiquewhite;      
}

.msgPlr_1 h6{
    transform: translate(-10px,-20px);
    font-family: Inter;
    font-size: 0.8em;
    font-weight: 400;
    float: right;
    margin-left: 100%;
    margin-right: 22px;
    color: antiquewhite;     
    margin-bottom: 1px;
    margin-top: 1px;
}


.msgPlr_2{
    background-color: burlywood;
    float: left;
    margin-right: 100%;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    height: auto;
    width: auto;
    font-size: 0.5em;
    padding-left: 20px;
    padding-right: 20px;
}



.Digitador{
    position: fixed;
    transform: translateY(60px);
    display: inline;
}

.escreva{
    width: 800px;
    border-radius: 22px;
    color: #ffffff;
    background-color: #413f44;
    border-style: solid;
    height: 40px;

}

.envio{
    transform: translate( 20px,-10px);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-color: #2d2a31;
    border-style: solid;
    border-color: transparent;
}

.its{
    color: #ffffff;
    transform: scale(0.7);
}

.itss{
    color: #ffffff;
}


#pete{
    display: none;
    height: 1000px;
    width: 1000px;
    transform: translateY(-800px)
}