
#titulo {
    transform: translate(450px,-70px);
    color: white;
}

#bordaPlanos {
    height: 654px;
    width: 1236px;
    border:#FFC300 solid 1px ;
    margin-left: 40px;
    transform: translate(50px,120px);
    border-radius: 20px;
}

#expanda {
    color: white;
    transform: translate(350px,-1000px);
}

#Mensal {
    transform: translate(30px,-50px);
    border:#FFC300 solid 1px ;
    width: 397px;
    height: 598px;
    border-radius: 20px;
    color: white;
}

#contornoPrecoM {
    height: 57px;
    width: 189px;
    margin-left: 208px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 2em;
    margin-top: 50px;
    background-color: #FFC300;
    color: black;
    display: flex;           
    justify-content: center; 
    align-items: center; 
}


#contorno1m {
    margin-left: 30px;
    font-size: 1.5em;
    border: #FFC300 solid 1px;
    border-radius: 10px;
    width: 200px;
}






#contornoTrimestral{
    border: #FFC300 solid 1px;
    border-radius: 20px;
    height: 598px;
    width: 397px;
    transform: translate(440px,-548px);
    color: white;
}


#contornoPrecoT {
    height: 57px;
    width: 189px;
    margin-left: 208px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 2em;
    margin-top: 50px;
    background-color: #FFC300;
    color: black;
    display: flex;           
    justify-content: center; 
    align-items: center;     
}
