.homeBar{
    Display: none;
    background-color: #1D1B20;
    position: fixed;
    transform: translateY(50px);
    left: 0;
    width: 200px;
    height: 100%;
    border-right-color: aliceblue;
    border-style: solid;
    border-width: 1px;
    z-index: 4;
    overflow-y: scroll;

}


.homeBar::-webkit-scrollbar {
    width: 5px; 
    height: 20px;

    
}


.homeBar::-webkit-scrollbar-thumb {
    background-color: #ffffff; 
    border-radius: 10px; 
}


.homeBar::-webkit-scrollbar-track {
    background: #4e4e4e;
    border-radius: 10px;

}




.but{
    width: 100%;
    text-align: initial;
    color: aliceblue;
    background-color: transparent;
    border-style: none;
    margin-top: 2px;
    font-size: 25px;
}

.but i{
    transform: scale(2);
    transform: translateY(4px)
}