<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="../css/css_masters/norma.css">
    <link rel="stylesheet" href="../css/css_masters/header3.css">
    <link rel="stylesheet" href="../css/css_masters/homeBar.css">
    <link rel="stylesheet" href="../css/css_masters/indexMain.css">
    <link rel="stylesheet" href="../css/css_masters/chat.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">



</head>
<body>
    <header>
        <button class="header_btn">
            <i class="material-icons header_i" onclick="btnMenuBar()">menu</i>
        </button>
        <a href="index.html">
            <img class="header_img" src="../assets/imagens/logo.png" alt="">
        </a>
        
    
        <a href="../templates/selecCad.html"><button class="header_btn_cadastrar">Cadastre-se</button></a>
        <a href="../templates/login.html"><button class="header_btn_entrar">Entrar</button></a>
    
        <button id="pesquisar">
            <i class="material-icons">search</i>
        </button>
    </header>
    <aside id="id_homeBar" class="homeBar">

        <button class="but but1" onclick="window.location.href='../templates/main.html'">
            <i class="material-icons">cottage</i>
            Home
        </button>
        <button class="but but1" onclick="window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'">
            <i class="material-icons">account_circle</i>
            me
        </button>
                <button class="but but1" >
            <i class="material-icons">check</i>
            Escorts
        </button>

        <hr>

        <button class="but but1">
            <i class="material-icons">auto_stories</i>
            Teaching
        </button>
        <button class="but but1"  onclick="window.location.href='../templates/fitplay.html'">
            <i class="material-icons">recent_actors</i>
            FitPlay
        </button>

        <hr>

        <button class="but but1">
            <i class="material-icons">local_fire_department</i>
            Trendings
        </button>
        <button class="but but1">
            <i class="material-icons">travel_explore</i>
            Recommended
        </button>




    </aside>

    <div id="chats" >
        <button id="pesquisar2">
            <i class="material-icons lupa">search</i>
        </button>

        <button class="ChatProf textA1">Professores</button>
        <button class="ChatAmigo textA1">Amigos</button>
        <button class="ChatTodos textA1">Todos</button>
        <button class="ChatFavoritos textA1">Favoritos</button>
        <button class="ChatGrupos textA1">Grupos</button>
        <button class="botao pessoa">
            <i class="material-icons">person</i>
        </button>
        <h3 class="perfil">@pessoa</h3>
        <h5 class="mensagem">nengue mensagem</h5>
        <h6 class="hora">xx:xx</h6>
      
    </div>

    <div id="novogrupocontato">
        <button class="botao addpessoa">
            <i class="material-icons pessoaaddicone">person_add</i>
        </button>
        <h6 class="novocontato">Encontrar novos contatos</h6>
        <button class="botao addpessoa2">
            <i class="material-icons pessoaaddicone">groups</i>
        </button>
        <h6 class="novocontato2">Novo Grupo</h6>
    </div>
    <div id="contato">
        <button class="botao pessoachat">
            <i class="material-icons1">person</i>
        </button>
        <h4 class="perfilcontato">@pessoa</h4>
        <h6 class="mensagemcontato">Online há x minutos</h6>
        <button class="chamar">
            <i class="material-icons ii">call</i>
        </button>
        <button class=" video">
            <i class="material-icons ii">videocam</i>
        </button>
        <button class=" maisopcoes">
            <i class="material-icons ii">more_horiz</i>
        </button>
    </div>
    <div id="chat">
        <button class="conversar" >
            <p class="letrabarra">Digite aqui...</p>
        </button>
        <button class=" anexar">
            <i class="material-icons">attach_file</i>
        </button>
        <button class=" emoji">
            <i class="material-icons">mood</i>
        </button>
        <button class=" mic">
            <i class="material-icons">mic</i>
        </button>
    </div>

</body>
<script src="../javascript/main.js"></script>

</html>