<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/css_masters/norma.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>

    <aside id="id_homeBar" class="homeBar">

        <button class="but but1" onclick="window.location.href='../templates/main.html'">
            <i class="material-icons">cottage</i>
            Home
        </button>
        <button class="but but1" onclick="window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'">
            <i class="material-icons">account_circle</i>
            me
        </button>
                <button class="but but1" >
            <i class="material-icons">check</i>
            Escorts
        </button>

        <hr>

        <button class="but but1">
            <i class="material-icons">auto_stories</i>
            Teaching
        </button>
        <button class="but but1"  onclick="window.location.href='../templates/fitplay.html'">
            <i class="material-icons">recent_actors</i>
            FitPlay
        </button>

        <hr>

        <button class="but but1">
            <i class="material-icons">local_fire_department</i>
            Trendings
        </button>
        <button class="but but1">
            <i class="material-icons">travel_explore</i>
            Recommended
        </button>




    </aside>

</body>
<script src="../javascript/main.js"></script>
</html>