<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="../css/css_masters/norma.css">
    <link rel="stylesheet" href="../css/css_masters/header3.css">
    <link rel="stylesheet" href="../css/css_masters/homeBar.css">
    <link rel="stylesheet" href="../css/css_masters/indexMain.css">
    <link rel="stylesheet" href="../css/css_masters/chat.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/css_masters/interesseira.css">


</head>
<body>
    <header>
        <button class="header_btn">
            <i class="material-icons header_i" onclick="btnMenuBar()">menu</i>
        </button>
        <a href="index.html">
            <img class="header_img" src="../assets/imagens/logo.png" alt="">
        </a>
        
        <a href="chat.html">
            <button class="header_btn simsim">
            <i class="material-icons header_i" onclick="">mark_chat_unread</i>
            </button>
        </a>

        <button class="header_btn simsim">
            <i class="material-icons header_i" onclick="">person</i>
        </button>

        <button class="header_btn simsim">
            <i class="material-icons header_i" onclick="">settings</i>
        </button>


        <button id="pesquisar">
            <i class="material-icons">search</i>
        </button>
        

    </header>
    <aside id="id_homeBar" class="homeBar">

        <button class="but but1" onclick="window.location.href='../templates/main.html'">
            <i class="material-icons">cottage</i>
            Home
        </button>
        <button class="but but1" onclick="window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'">
            <i class="material-icons">account_circle</i>
            me
        </button>
                <button class="but but1" >
            <i class="material-icons">check</i>
            Escorts
        </button>

        <hr>

        <button class="but but1">
            <i class="material-icons">auto_stories</i>
            Teaching
        </button>
        <button class="but but1"  onclick="window.location.href='../templates/fitplay.html'">
            <i class="material-icons">recent_actors</i>
            FitPlay
        </button>

        <hr>

        <button class="but but1">
            <i class="material-icons">local_fire_department</i>
            Trendings
        </button>
        <button class="but but1">
            <i class="material-icons">travel_explore</i>
            Recommended
        </button>




    </aside>
    <div id="conteudo">
        <h1 class="titulo">Diga seus gostos</h1>
        <div class="esporte">
            <i class="material-icons pixina">pool</i>
            <h2 class="ixporte">Natacao Olimpica</h2>
            <h5 class="textofudido">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</h5>
        </div>
        <div class="esporte2">
            <i class="material-icons pixina">fitness_center</i>
            <h2 class="ixporte">Levantamento de peso</h2>
            <h5 class="textofudido">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</h5>
        </div>
        <div class="esporte3">
            <i class="material-icons pixina">directions_bike</i>
            <h2 class="ixporte">Ciclismo</h2>
            <h5 class="textofudido">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</h5>
        </div>
        <div class="esporte4">
            <i class="material-icons pixina">sports_soccer</i>
            <h2 class="ixporte">Esporte</h2>
            <h5 class="textofudido">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</h5>
        </div>
        <div class="esporte5">
            <i class="material-icons pixina">sports_mma</i>
            <h2 class="ixporte">Boxe</h2>
            <h5 class="textofudido">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</h5>
        </div>
        <div class="esporte6">
            <i class="material-icons pixina">hiking</i>
            <h2 class="ixporte">Trilhas</h2>
            <h5 class="textofudido">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</h5>
        </div>
    </div>



    

</body>
<script src="../javascript/main.js"></script>

</html>