<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="../css/css_masters/norma.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="../css/css_login/login.css">
    <link rel="stylesheet" href="../css/css_cads/header2.css">

</head>
<body>
    <main>
        <header>
            <a href="index.html" onclick="coordsSet()">
                <img class="header_img" src="../assets/imagens/logo.png" alt="">
            </a>
    
        </header>
        <section>
            <h1>Bem Vindo De Volta!</h1>
            
            
            
            <input type="email" name="" id="L-email" class="btn" min="12" max="45" placeholder="Email">
            <br>
         
            <input type="password" name="" id="L-senha" class="btn" min="8" max="30" placeholder="Senha">
            <i id="verSenha" class="fa fa-eye material-icons" aria-hidden="true">visibility</i>
            <br>
            <a href="../templates/cadastro.html">não tem Uma conta? Tente Cadastrar</a>
            <br>
            <input type="submit" id="btn2" onclick="clica()" class="btn2" value="Cadastrar">
            <hr id="linha1">  <label id="ou">OU</label> 
            
            <img id="google" src="../assets/imagens/google.png" alt=""> 
            <img id="face" src="../assets/imagens/facebook.png" alt="">
        </section>
    </main>
</body>
<script src="../javascript/main.js"></script>
</html>