<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header3.css">
    <link rel="stylesheet" href="../css/norma.css">
    <link rel="stylesheet" href="../css/select.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="../css/homeBar.css">
    <title>selecione</title>
</head>
<body>
    <header>
        <button class="header_btn">
            <i class="material-icons header_i">menu</i>
        </button>
        <a href="index.html">
            <img class="header_img" src="../assets/imagens/logo.png" alt="">
        </a>

        <a href="../templates/selecCad.html"><button class="header_btn_cadastrar">Cadastre-se</button></a>
        <a href="../templates/login.html"><button class="header_btn_entrar">Entrar</button></a>

        <button id="pesquisar">
            <i class="material-icons">search</i>
        </button>
        

    </header>

    <script src="../javascript/homebar.js"></script>
</body>
</html>