<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selecione</title>

    <link rel="stylesheet" href="../css/css_masters/norma.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="../css/css_masters/header3.css">
    <link rel="stylesheet" href="../css/css_masters/homeBar.css">
    <link rel="stylesheet" href="../css/css_masters/indexMain.css">

</head>
<body>
    <header>
        <button class="header_btn">
            <i class="material-icons header_i" onclick="btnMenuBar()">menu</i>
        </button>
        <a href="index.html">
            <img class="header_img" src="../assets/imagens/logo.png" alt="">
        </a>
        

        <a href="../templates/selecCad.html"><button class="header_btn_cadastrar">Cadastre-se</button></a>
        <a href="../templates/login.html"><button class="header_btn_entrar">Entrar</button></a>

        <button id="pesquisar">
            <i class="material-icons">search</i>
        </button>
        

    </header>
    <aside id="id_homeBar" class="homeBar">

        <button class="but but1" onclick="window.location.href='../templates/main.html'">
            <i class="material-icons">cottage</i>
            Home
        </button>
        <button class="but but1" onclick="window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'">
            <i class="material-icons">account_circle</i>
            me
        </button>
                <button class="but but1" >
            <i class="material-icons">check</i>
            Escorts
        </button>

        <hr>

        <button class="but but1">
            <i class="material-icons">auto_stories</i>
            Teaching
        </button>
        <button class="but but1"  onclick="window.location.href='../templates/fitplay.html'">
            <i class="material-icons">recent_actors</i>
            FitPlay
        </button>

        <hr>

        <button class="but but1">
            <i class="material-icons">local_fire_department</i>
            Trendings
        </button>
        <button class="but but1">
            <i class="material-icons">travel_explore</i>
            Recommended
        </button>




    </aside>
    <main>
        <article>
            <section>
                <div class="base_A">
                    <div class="base_A1">
                        <button class="botao">
                            <i class="material-icons">person</i>
                        </button>
                        <h2 class="textA1">@perfilpessoa</h2>
                        <h4 class="textA1">Há x min.</h4>
                        <button  class="textA1  Seguir" >Seguir</button>

                    </div>

                    <div class="base_A2">
                        <div class="Post_A2">
                            <h2 class="tx2">Postagem</h2>
                            <button class="botaoMain tx2">
                                <i class="material-icons">more_horiz</i>
                            </button>

                            <img class="" src="../assets/imagens/pag2_02.jpg" alt="" width="500px" height="300px">

                        </div>
                    </div>

                    <div class="base_A3">
                        <button class="botaot">
                            <i class="material-icons">favorite</i>
                        </button>

                        <button class="botaot">
                            <i class="material-icons">share</i>
                        </button>

                        <button class="botaot">
                            <i class="material-icons">bookmark</i>
                        </button>

                        <button class="botaot">
                            <i class="material-icons">report</i>
                        </button>

                        <button class="botaot" onclick="clicaPoST()">
                            <i class="material-icons">more_horiz</i>
                        </button>
                    </div>

                    <div class="base_A4">
                        <div class="maincoment">
                            <div id="1" class="comentarios">
                                <button class="bpessoa">
                                    <i class="material-icons">person</i>
                                </button>
                                <h4 class="cc h4perfil">@perfil</h4>
                                <h5 class="cc h5min">Há x min</h5>
                                <button class="ccd bpontos">
                                    <i class="material-icons">more_horiz</i>
                                </button>
                                
                                <h5 class="h5comentario">Comentario</h5>
                                <button class="bb  bcoracao">
                                    <i class="material-icons">favorite</i>
                                </button>
                                <button class=" bb breportar">
                                    <i class="material-icons">report</i>
                                </button>

                                <button class="bb  bcomentar">
                                    <i class="material-icons">forum</i>
                                </button>
                            </div>
                                                     
                         </div>

                    </div>
                </div>
            </section>


        </article>
    </main>


</body>
<script src="../javascript/main.js"></script>
</html>