<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selecione</title>

    <link rel="stylesheet" href="../css/css_masters/norma.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="../css/css_masters/header3.css">
    <link rel="stylesheet" href="../css/css_masters/homeBar.css">
    


</head>
<body>
    <header>
        <button class="header_btn">
            <i class="material-icons header_i" onclick="btnMenuBar()">menu</i>
        </button>
        <a href="index.html">
            <img class="header_img" src="../assets/imagens/logo.png" alt="">
        </a>
        

        <a href="../templates/selecCad.html"><button class="header_btn_cadastrar">Cadastre-se</button></a>
        <a href="../templates/login.html"><button class="header_btn_entrar">Entrar</button></a>

        <button id="pesquisar">
            <i class="material-icons">search</i>
        </button>
        

    </header>
    <aside id="id_homeBar" class="homeBar">

        <button class="but but1" onclick="window.location.href='../templates/main.html'">
            <i class="material-icons">cottage</i>
            Home
        </button>
        <button class="but but1" onclick="window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'">
            <i class="material-icons">account_circle</i>
            me
        </button>
                <button class="but but1" >
            <i class="material-icons">check</i>
            Escorts
        </button>

        <hr>

        <button class="but but1">
            <i class="material-icons">auto_stories</i>
            Teaching
        </button>
        <button class="but but1"  onclick="window.location.href='../templates/fitplay.html'">
            <i class="material-icons">recent_actors</i>
            FitPlay
        </button>

        <hr>

        <button class="but but1">
            <i class="material-icons">local_fire_department</i>
            Trendings
        </button>
        <button class="but but1">
            <i class="material-icons">travel_explore</i>
            Recommended
        </button>




    </aside>
    <main>
        <article></article>
    </main>


</body>
<script src="../javascript/main.js"></script>
</html>