<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planos</title>

    <link rel="stylesheet" href="../css/css_masters/norma.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>

    <h1>Acesse Nosso Universso</h1>
    <section id="bordaPlanos">
        <section id="contornoMensal">
            <div id="Mensal">
                <h2>Plano Mensal</h2>
                <div id="bMensal"> 
                    <div id="contornoPrecoM">
                         <p id="precoMensal">R$ 49.99</p> 
                    </div>
                    <p>5 impulsionamentos</p>
                    <p>Acesso aos recursos basicos do instrutor</p>
                    <p>Alguns anúncios</p>
                    <p>5 downloads de publicações</p>
                    <p>acessos a alunos da sua região</p>

                </div>
            </div>
        </section>

        <section id="contornoTrimestral">
                <h2>Plano Trimestral</h2>
                <div id="btrimensal">
                    <div id="contornoPrecoT">
                        <p id="precoT">R$ 129.99</p> 
                   </div>
                   <div id="equivalente"> <p>Equivalente a R$ 43.50 por mês</p> </div>
                    <p>18 impulsionamentos</p>
                    <p>Acesso aos recursos basicos do instrutor</p>
                    <p>Sem anúncios</p>
                    <p>20 downloads de publicações</p>
                    <p>acessos a alunos da sua região</p>
                </div>
            </div>   
        </section>     

        <section id="contornoAnual" >
            <div id="anual">
                <h2>Plano Anual</h2>
                <div id="contornoPrecoA">
                    <p id="precoA">R$ 499.99</p> 
               </div>
                    <div id="economize"> <p>Economize R$ 100.00</p> </div>
                    <p>18 impulsionamentos</p>
                    <p>Acesso aos recursos basicos do instrutor</p>
                    <p>Sem anúncios</p>
                    <p>20 downloads de publicações</p>
                    <p>acessos a alunos da sua região</p>
                </div>
            </div>  
        </section>      

    </section>
    
</body>
</html>