<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planos</title>

    <link rel="stylesheet" href="../css/css_masters/norma.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/css_masters/header3.css">
    <link rel="stylesheet" href="../css/css_masters/homeBar.css">
    <link rel="stylesheet" href="../css/css_masters/indexMain.css">
    <link rel="stylesheet" href="../css/css_masters/cssplano.css">
</head>
<body>
    <header>
        <button class="header_btn">
            <i class="material-icons header_i" onclick="btnMenuBar()">menu</i>
        </button>
        <a href="index.html">
            <img class="header_img" src="../assets/imagens/logo.png" alt="">
        </a>
        
    
        <a href="../templates/selecCad.html"><button class="header_btn_cadastrar">Cadastre-se</button></a>
        <a href="../templates/login.html"><button class="header_btn_entrar">Entrar</button></a>
    
        <button id="pesquisar">
            <i class="material-icons">search</i>
        </button>
    </header>
    <aside id="id_homeBar" class="homeBar">

        <button class="but but1" onclick="window.location.href='../templates/main.html'">
            <i class="material-icons">cottage</i>
            Home
        </button>
        <button class="but but1" onclick="window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'">
            <i class="material-icons">account_circle</i>
            me
        </button>
                <button class="but but1" >
            <i class="material-icons">check</i>
            Escorts
        </button>

        <hr>

        <button class="but but1">
            <i class="material-icons">auto_stories</i>
            Teaching
        </button>
        <button class="but but1"  onclick="window.location.href='../templates/fitplay.html'">
            <i class="material-icons">recent_actors</i>
            FitPlay
        </button>

        <hr>

        <button class="but but1">
            <i class="material-icons">local_fire_department</i>
            Trendings
        </button>
        <button class="but but1">
            <i class="material-icons">travel_explore</i>
            Recommended
        </button>




    </aside>


    <section id="bordaPlanos">
        <h1 id="titulo">Acesse Nosso Universso</h1>

        <section id="contornoMensal">
            <div id="Mensal">
                <h2>Plano Mensal</h2>
                <button class=" precoMensal">
                    R$49,99
                </button>
                <div id="botaocertificado">
                    <button class=" check">
                        <i class="material-icons ii">check_circle</i>
                    </button>
                    <button class="text">
                        Acesso aos recursos basico de instrutor
                    </button>
                </div>

            </div>
        </section>

        <section id="contornoTrimestral">
                <h2>Plano Trimestral</h2>
                <div id="btrimensal">
                    <div id="contornoPrecoT">
                        <p id="precoT">R$ 129.99</p> 
                   </div>
                   <div id="equivalente"> <p>Equivalente a R$ 43.50 por mês</p> </div>
                    <p>18 impulsionamentos</p>
                    <p>Acesso aos recursos basicos do instrutor</p>
                    <p>Sem anúncios</p>
                    <p>20 downloads de publicações</p>
                    <p>acessos a alunos da sua região</p>
                </div>
            </div>   
        </section>     

        <section id="contornoAnual" >
            <div id="anual">
                <h2>Plano Anual</h2>
                <div id="contornoPrecoA">
                    <p id="precoA">R$ 499.99</p> 
               </div>
                    <div id="economize"> <p>Economize R$ 100.00</p> </div>
                    <p>18 impulsionamentos</p>
                    <p>Acesso aos recursos basicos do instrutor</p>
                    <p>Sem anúncios</p>
                    <p>20 downloads de publicações</p>
                    <p>acessos a alunos da sua região</p>
                </div>
            </div>  
        </section>      
        <h1 id="expanda">Expanda seus horizontes com FitWe!</h1>
    </section>
    
</body>
<script src="../javascript/main.js"></script>

</html>