<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selecione</title>

    <link rel="stylesheet" href="../css/css_masters/norma.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="../css/css_cads/select.css">
    <link rel="stylesheet" href="../css/css_cads/header2.css">

</head>
<body>
    <header>
        <a href="index.html">
            <img class="header_img" src="../assets/imagens/logo.png" alt="">
        </a>

        <a href="../templates/login.html"><button class="header_btn_entrar">Entrar</button></a>

    </header>








    <main>
        <h4 class="font princ">como deseja cadastrar?</h4>
        <section>
            <div class="a1">
                <h3 class="font tess">professor</h3>
                    <a href="../templates/cadastroprof.html">
                        <i class="material-icons add">school</i>
                    </a>
            </div>


            </div>
            <div class="a1">
                <h3 class="font tes">Aluno</h3>
                    <a href="../templates/cadastro.html">
                        <i class="material-icons add">sports_gymnastics</i>
                    </a> 
            </div>

        </section>
    </main>
</body>
<script src="../javascript/main.js"></script>
</html>