<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header2.css">
    <link rel="stylesheet" href="../css/norma.css">
    <link rel="stylesheet" href="../css/select.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="../css/homeBar.css">
    <script src="../javascript/homebar.js"></script>

    <title>selecione</title>
</head>
<body>
    <header>
        <button class="header_btn">
            <i class="material-icons header_i" onclick="btnMenuBar()">menu</i>
        </button>

        <a href="index.html">
            <img class="header_img" src="../assets/imagens/logo.png" alt="">
        </a>

        <a href="../templates/selecCad.html"><button class="header_btn_cadastrar">Cadastre-se</button></a>
        <a href="../templates/login.html"><button class="header_btn_entrar">Entrar</button></a>

    </header>




    <aside id="id_homeBar" class="homeBar">

        <button class="but but1" onclick="window.location.href='../templates/main.html'">
            <i class="material-icons">cottage</i>
            Home
        </button>
        <button class="but but1" onclick="window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'">
            <i class="material-icons">account_circle</i>
            me
        </button>
                <button class="but but1" >
            <i class="material-icons">check</i>
            Escorts
        </button>

        <hr>

        <button class="but but1">
            <i class="material-icons">auto_stories</i>
            Teaching
        </button>
        <button class="but but1"  onclick="window.location.href='../templates/fitplay.html'">
            <i class="material-icons">recent_actors</i>
            FitPlay
        </button>

        <hr>

        <button class="but but1">
            <i class="material-icons">local_fire_department</i>
            Trendings
        </button>
        <button class="but but1">
            <i class="material-icons">travel_explore</i>
            Recommended
        </button>




    </aside>



    <main>
        <h4 class="font princ">como deseja cadastrar?</h4>
        <section>
            <div class="a1">
                <h3 class="font tess">professor</h3>
                    <a href="">
                        <i class="material-icons add">school</i>
                    </a>
            </div>


            </div>
            <div class="a1">
                <h3 class="font tes">Aluno</h3>
                    <a href="">
                        <i class="material-icons add">sports_gymnastics</i>
                    </a> 
            </div>

        </section>
    </main>
    <script src="../javascript/homebar.js"></script>
</body>
</html>